.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


*, ::after, ::before {
  box-sizing: border-box;
}


td {
  display: table-cell;
  vertical-align: inherit;
}

.table{
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}



table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.db-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.db-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}