table {
  border-spacing: 0;
  border: 1px solid black;
  padding: 1rem;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.db-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.db-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}